/* Remove code element styling */
code[class*="language-"], pre[class*="language-"] { background: none; padding: 0; margin: 0; box-shadow: none; border: none; }

/* Remove scrollbar on code blocks */
pre { overflow-x: auto; scrollbar-width: none; }
pre::-webkit-scrollbar { display: none; }

/* Diff highlighting */
pre.diff-highlight>code .token.deleted:not(.prefix),pre>code.diff-highlight .token.deleted:not(.prefix) {
    background-color: rgba(255,0,0,.1);
    color: inherit;
    display: block
}

pre.diff-highlight>code .token.inserted:not(.prefix),pre>code.diff-highlight .token.inserted:not(.prefix) {
    background-color: rgba(0,255,128,.05);
    color: inherit;
    display: block
}

/* Make added +'s green */
span.token.prefix.inserted {
    color: #26F972;
}
