/* Remove code element styling */
code[class*="language-"], pre[class*="language-"] { background: none; padding: 0; margin: 0; box-shadow: none; border: none; }

/* Remove scrollbar on code blocks */
pre { overflow-x: auto; scrollbar-width: none; }
pre::-webkit-scrollbar { display: none; }